@import models.academics.OfferedCourse
@import models.security.AccessType
@(course: OfferedCourse)

@main("مدیریت درس") {
    <h1>مدیریت دستیاران</h1>
    <form method="POST" action="@routes.CourseCtrl.addTA(course.id)">
        <input type="text" name="username" class="form-control" placeholder="شماره دانشجویی دستیار">
        <button type="submit" class="btn btn-success">send</button>
    </form>

    <ul>
        @for(ta <- course.tas) {
            <li>@ta.student.name
                @for(t <- AccessType.values()) {
                    @if(!ta.student.hasAccessTo(course, t)) {
                        <a class="btn btn-success" href="@routes.CourseCtrl.addTokenToTA(course.id)?taId=@ta.id&t=@t">
                            ایجاد دسترسی
                            @t</a>
                    } else {
                        <a class="btn btn-danger" href="@routes.CourseCtrl.removeTokenFromTA(course.id)?taId=@ta.id&t=@t">
                            حذف دسترسی
                            @t</a>
                    }
                }
            </li>
        }
    </ul>
}